@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    font-family: "Open Sans", sans-serif;
}
body{
    display:flex;
    justify-content: center;
} 

.container{
    margin-top: 50px;
    width :300px;
    box-shadow: 0px 0px 20px 10px rgb(0, 8, 255);
    padding:30px;
    border-radius:33px;
    text-align:center;
}

h1{
    margin-bottom: 40px;
}

input{
    border:none;
    border-bottom: 1px solid rgb(0, 8, 255) ;
    width:50%;
    margin-bottom:30px;
    outline:none;
    padding:10px;
    font-size:30px;
    text-align: center;

}
button{
    width:100%;
    height:35px;
    margin-top:28px;
    border-radius: 30px;
    border: none;
    background-color: blue;
    color:aliceblue;
    font-size: 24px;
}
 #result{
    margin-top:20px ;
    font-size: 25px;

 }